# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
.eggs/
*.egg-info/
.eggs/
dist/
build/

# Testing & caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# DB
*.db
*.sqlite*
dev.db

# IDE
.idea/
.vscode/

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
